@media(min-width: 300px){

    #btnLogin{

        min-width: 30%;
        min-height: 40px;
        float: right;
        margin-top: 20px;
        margin-bottom: 60px;
        border-radius: 10px;
    }

    
    
    #teste{
        min-height: 50px;
    }
    
    #mainLogin{
        background-image: url('viaLactea.jpg');
        background-size: cover;
        
        width: 100%;
        height: 100%;
        clear: both;
        
    
    }
    
    #mainLogin h1{
    
        padding: 0.5cm 0cm 0cm 0cm;
        font-size: 7em;
        color:  rgba(146,101,71,1);
        text-shadow: 1px 1px 1px #ffffff;
        text-align: center;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    
    }
    
    #mainLogin h2{
    
        font-size: 2.5em;
        color: rgba(146,101,71,1);
        padding:  0em 0em 0.5em 0em;
        text-shadow: 1px 1px 1px #ffffff;
        font-weight: bold;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    
    }

    #mainLogin a{

        font-size: 1.7em;
        color: rgba(146,101,71,1);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;

    }

}

@media(min-width: 1200px){

   
    #btnLogin{

        min-width: 30%;
        min-height: 40px;
        float: right;
        margin-top: 20px;
        margin-bottom: 60px;
        border-radius: 10px;
    }

    
    
    #teste{
        min-height: 100px;
    }
    
    #mainLogin{
        background-image: url('viaLactea.jpg');
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        clear: both;
        
    
    }
    
    #mainLogin h1{
    
        padding: 0.5cm 0cm 0cm 0cm;
        font-size: 7em;
        color:  rgba(146,101,71,1);
        text-shadow: 1px 1px 1px #ffffff;
        text-align: center;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    
    }
    
    #mainLogin h2{
    
        font-size: 3em;
        color: rgba(146,101,71,1);
        padding:  0em 0em 0.5em 0em;
        text-shadow: 1px 1px 1px #ffffff;
        font-weight: bold;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    
    }

    #mainLogin a{

        font-size: 1.7em;
        color: rgba(146,101,71,1);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;

    }


    
}



